<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Parent:</b>
  <%= @comment.parent_id %>
</p>

<p>
  <b>Lft:</b>
  <%= @comment.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%= @comment.rgt %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
